<div class="container">
    <img src="~/Resources/Savings.jpg" alt="" />
    <h1 class="text-light text-center">Great News!</h1>
</div>

<div class="card no-gutters shadow">
    <div class="card-header text-center">
        <h5>Here's Your Savings</h5>
        <div class="card-body">
            
        </div>
    </div>
</div>

